<form class="form-wrap">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-7 mx-auto">
			<div class="form-group">
				<input type="text" class="form-control py-2"  placeholder="Your Name">
			</div>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-7 mx-auto mb-4">
			<div class="form-group">
				<input type="email" class="form-control py-2" placeholder="Email Address">
			</div>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12 text-center">
			<div class="d-inline-block mb-0">
				<button class="button primary-btn" type="button">Sign Up</button>
			</div>
		</div>
	</div>
</form>