<form class="form-wrap form-layout-v2">
	<div class="row">
		<div class="col-lg-6 col-sm-12">
			<div class="form-group mb-4">
				<input type="text" name="name" class="form-control form-input" placeholder="Name">
			</div><!--|form-group|-->
		</div>
		<div class="col-lg-6 col-sm-12">
			<div class="form-group mb-4">
				<input type="email" name="email" class="form-control form-input" placeholder="Email Address">
			</div><!--|form-group|-->
		</div>
		<div class="col-lg-12 col-sm-12">
			<div class="form-group mb-2">
				<input type="text" name="subject" class="form-control form-input" placeholder="Subject">
			</div><!--|form-group|-->
		</div>
		<div class="col-lg-12 col-sm-12">
			<div class="form-group mb-5">
				<textarea rows="3" name="textareaQuotes" class="form-control form-input" placeholder="Message"></textarea>
			</div>
			<input type="submit" class="button secondary-btn" value="Send Message">
		</div>
	</div>
</form>