<div  class="testimonial-wrap testimonial-v5 dark-layout">
	<div class="container-fluid px-0">
		<div class="row no-gutters">
			<div class="col-lg-6 d-flex justify-content-center align-items-center base-bg ">
				<div class="contact-form section-gap-lg w-100">
               <div class="container">
					   <div class="sec-title mb-5">
						   <h2>drop us line</h2>
					   </div>
					   <app-contact-form></app-contact-form>
               </div>   
				</div>
			</div>
			<div class="col-lg-6">
				<div class="testi-grid section-gap-lg px-xl-5  testimonial-v5 bg-img-style dark-bg h-100">
					<div class="container">
                  <div class="sec-title px-xl-4 mb-sm-5 mb-4">
   						<h3 class="title">what customer says?</h3>
   					</div>
   					<div class="testi-slider-v5 px-xl-4">
   						<app-testimonial-slider [testimonialContent]="reviewsData"></app-testimonial-slider>
   					</div>	
               </div>
				</div>
			</div>
		</div>
	</div>
</div>