<div class="team-main section-gap-lg pb-0" id="team-section">
   <div class="container">
      <div class="post-grid-section">
         <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
               <div class="counter-desc mb-lg-5">
                  <div class="sec-heading-wrap">
                     <div class="sec-title text-center text-uppercase mb-3">
                        <h2>Dream To Unite People with music !</h2>
                     </div>
                     <div class="title-star-bg star-liner-r text-center">
                     </div>
                  </div>   
                  <div class="sec-content text-center">
                     <p>Pellentesque at lacus maximus, tincidunt nulla a, finibus turpis. Duis vitae malesuada ante. Sed in accumsan lacus. Ut ac elit eget leo tempus imperdiet at sit amet justo. Pellentesque ligula dui, sagittis ac mauris non, dignissim finibus eros. Aliquam sed eros eget tortor sodales ultricies in ut risus.Pellentesque at lacus maximus, tincidunt nulla a, finibus turpis. Duis vitae malesuada ante. Sed in accumsan lacus. Ut ac elit eget leo tempus imperdiet at sit amet justo. Pellentesque ligula dui, sagittis ac mauris non, dignissim finibus eros. Aliquam sed eros eget tortor sodales ultricies in ut risus.</p>
                  </div>
               </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 ml-auto text-center">
               <div class="thumb-wrap d-inline-block">
                  <div class="featured-thumb">
                     <a href="javascript:void(0);"><img src="assets/images/team-4.jpg" alt="team" width="700" height="778"></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="team-wrap team-bg bg-img-style">
</div>
<app-team-member></app-team-member>