<footer>
   <div class="footer-wrap">
      <div class="footer footer-bg bg-img-style section-gap-lg">
         <div class="footer-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                     <div class="footer-widget_text widget text-center">
                        <app-logo></app-logo>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-8 mx-auto">
                     <div class="footer-widget_text widget text-center">
                        <div class="copyright">
                           <p>Copyright © 2020 Angly Music. All Rights Reserved.</p>
                        </div>
                       <app-social-links [socialIconsData]="socialIconsContent"></app-social-links>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>