<div id="section-6" class="contact-info-wrap secondary-bg section-gap">
	<div class="container">
		<!--|contact info start|-->
		<div class="contact-info-content">
			<div class="row">
				<!--|col  start|-->
				<div class="col-lg-3 col-md-6 col-sm-6 col-12 info-content">
					<div class="contact-info-sec">
						<div class="sec-title title-bdr mb-4">
							<h3 class="mb-0">visit us</h3>
						</div>
						<div class="contact-info">
							<address>E-51, Phase-8B Mohali, 151001</address>
						</div>
					</div>
				</div>
				<!--|col  start|-->
				<div class="col-lg-3 col-md-6 col-sm-6 col-12 info-content">
					<div class="contact-info-sec">
						<div class="sec-title title-bdr mb-4">
							<h3 class="mb-0">call us</h3>
						</div>
						<div class="contact-info">
							<p class="mb-0"><a href="tel:0037468792">003 746 87 92</a></p>
							<p class="mb-0"><a href="tel:1234567890">(01)1234567890</a></p>
						</div>
					</div>
				</div>
				<!--|col  start|-->
				<div class="col-lg-3 col-md-6 col-sm-6 col-12 info-content">
					<div class="contact-info-sec">
						<div class="sec-title title-bdr mb-4">
							<h3 class="mb-0">email</h3>
						</div>
						<div class="contact-info">
							<p class="mb-0"><a href="mailto:info@example.com">info@example.com</a></p>
							<p class="mb-0"><a href="mailto:email@nativebuilding.com">email@nativebuilding.com</a></p>
						</div>
					</div>
				</div>
				<!--|col  start|-->
				<div class="col-lg-3 col-md-6 col-sm-6 col-12 info-content">
					<div class="contact-info-sec">
						<div class="sec-title title-bdr mb-4">
							<h3 class="mb-0">follow us</h3>
						</div>
						<div class="contact-info">
							<app-social-icon [socialIcon]="icons" [addClass]="iconClass"></app-social-icon>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>