 <div class="post-item rounded-border primary-overlay">
	<!--|overlay sec start|-->
	<div class="overlay-wrap">
		<div class="thumb-wrap">
			<div class="featured-thumb">
				<a href="javascript:void(0);"><img [src]="projectGrid.image" alt="building-3" height="246" width="370"></a>
			</div>
		</div>
		<!--|overlay content start|-->
		<div class="overlay-content">			
			<div class="read-more">
				<a href="javascript:void(0);" class="read-more-link"></a>
			</div>
		</div>
	</div>
	<!--|post content start|-->
	<div class="post-content base-bg content-boxshadow py-3 px-4">
		<div class="sec-title mb-2">
			<h5 class="mb-0 font-weight-bold"><a href="javascript:void(0);">{{projectGrid.title}}</a></h5>
		</div><!--|-sec-title|-->
      <div class="date gray-color mb-2">{{projectGrid.date}}</div>
		<div class="gray-color">{{projectGrid.place}}</div>
	</div>
</div>