<div id="section-2" class="about-us experience-wrap gradient-faded-bg section-gap-lg">
	<!--|container start|-->
	<div class="container">
		<!--|row start|-->
		<div class="row">
			<!--|col start|-->
			<div class="col-xl-6 col-lg-6 col-md-11 col-sm-12 col-12 mb-5 mb-lg-0 align-self-center">
				<!--|experience sec start|-->
				<div class="experience-info">
               <app-section-title title="About The Event" sectionTitleClass="text-left"></app-section-title>
					<div class="sec-content mb-5">
						<p class="content">Donec risus est, pharetra at rutrum a, egestas ullamcorper ex. In eu neque dapibus, accumsan ex id, rhoncus erat. Aliquam volutpat quam nec rutrum bibendum. Etiam vestibulum sollicitudin malesuada. Aenean tincidunt id mauris id auctor. Donec at ligula lacus. </p>
					</div>
					<div class="btn-wrap mb-2">
						<a href="javascript:void(0);" class="button white-btn-bdr">Know More</a>
					</div>
				</div>
			</div>
			<!--|col start|-->
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 d-flex justify-content-center align-items-center" >
				<!--|experience img start|-->
				<div class="img-wrap text-center bg-img-style" style="background-image: url('./assets/images/about.jpg');">
					<div class="video-icon">
						<a data-fancybox href="https://www.youtube.com/watch?v=rbTVvpHF4cU" class="text-white">
		               <i class="far fa-play-circle"></i>
		            </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>