<!--|post item start|-->
<div class="post-item rounded-border -primary-overlay">
	<!--|overlay sec start|-->
	<div class="overlay-wrap">
		<!--|thumb sec start|-->
		<div class="thumb-wrap">
			<div class="featured-thumb">
				<a href="javascript:void(0);"><img src="{{ServicesGrid.image}}" alt="slide2-370x246" height="246" width="370"></a>
			</div>
		</div>
		<!--|overlay-content sec start|-->
		<div class="overlay-content">			
			<div class="read-more">
				<a href="javascript:void(0);" class="read-more-link"></a>
			</div>
		</div>
	</div>
		<!--|post-content sec start|-->
	<div class="post-content border-all content pb-4">
		<div class="sec-title">
			<h4><a href="javascript:void(0);">{{ServicesGrid.title}}</a></h4>
		</div><!--|-sec-title|-->
		<div class="sec-content">
			<p class="mb-0">{{ServicesGrid.discription}}</p>
		</div>
	</div>
</div>
