<div class="testimonial-wrap testimonial-v1 section-gap-testi">
   <!--|container start|-->
   <div class="container">
      <!--|section title start|-->
      <div class="sec-content-wrap">
         <div class="sec-title text-center">
            <h2 class="text-white title mb-0">What customer Says</h2>
         </div>
      </div>   

      <!--|testimonial grid section start|-->
      <div class="testi-grid">
         <app-testimonial-slider [testimonialSliderData]="testimonialContent"></app-testimonial-slider>
      </div>
   </div>
   <!--|container end|-->
</div>
