<footer>
	<div class="footer-wrap footer-v1-wrap widget-bdr-v1">
		<!--|footer top section start|-->
		<div class="footer-top section-gap pb-0">
			<div class="container border-hr-btm">
				<!--|row start|-->
				<div class="row">
					<!--|col start|-->
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 mb-5">
						<!--|footer contact section start|-->
						<div class="footer-contact">
							<div class="widget-panel-info mb-5">
								<h6 class="widget-title mb-5">contact info</h6>
							</div>
							<div class="footer-contact-list mb-5">
								<ul class="list-unstyled">
									<li class="mb-3 d-flex">
										<span class="d-inline-block p-2">
											<i class="fas fa-map-marker-alt"></i>
										</span>
										<div class="p-2">
											<address>E-51, Phase-8B Mohali, 151001</address>
										</div>
									</li>
									<li class="mb-3 d-flex">
										<span class="d-inline-block p-2">
											<i class="fas fa-mobile"></i>
										</span>
										<div class="p-2">
											<a href="tel=011234567890">+01 123 456 7890</a>
										</div> 
									</li>
									<li class="mb-3 d-flex">
										<span class="d-inline-block p-2">
											<i class="fas fa-envelope"></i>	
										</span>
										<div class="p-2">
											<a class="d-block" href="mailto:info@example.com">info@example.com</a>
											<a class="d-inline-block" href="mailto:email@nativebuilding.com">email@nativebuilding.com</a>
										</div>
									</li>
								</ul>
							</div>
							<div class="footer-social-icons icon-layout2">								
								<app-social-icon [socialIcon]="footerIcon"></app-social-icon>
								<!--|social-icons|-->
							</div>
						</div>
					</div>
					<!--|col start|-->
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 mb-5">
						<!--|footer services section start|-->
						<div class="footer-services">
							<div class="widget-panel-info mb-5">
								<h6 class="widget-title mb-5">our services</h6>
							</div>
							<div class="widget-category">
								<ul>
									<li *ngFor="let value of ourService"><a href="javascript:void(0);">{{value.service}}</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!--|col start|-->
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 mb-5">
						<!--|widget post section start|-->
						<div class="footer-posts">
							<div class="widget-panel-info mb-5">
								<h6 class="widget-title mb-5">recent posts</h6>
							</div>
							<div class="widget-recent-listing">
								<ul>
									<li class="widget-list-item mb-3" *ngFor="let data of ShowQuoteForm">
										<div>
											<h6><a href="javascript:void(0)">{{data.title}}</a></h6>
											<div class="meta-info mb-3">
												<span>
													<a href="javascript:void(0);">by:admin</a>
												</span>
												<span class="post-comment">
													<a href="javascript:void(0);">{{data.comment}}</a>
												</span>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--|col start|-->
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 mb-5">
						<!--|footer form section start|-->
						<div class="footer-form">
							<div class="widget-panel-info mb-5">
								<h6 class="widget-title mb-5">get a quote</h6>
							</div>
							<app-request-quote-form></app-request-quote-form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--|footer bottom section start|-->
		<div class="footer-bottom section-gap pt-4">
			<div class="container">
				<!--|footer copyright section start|-->
				<div class="copyright">
					<p>© Copyright 2020 Tour And Travel. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>