/*---------------------------------------------------------------
13.0 widget
---------------------------------------------------------------*/
//------------------| Widget |-------------------//
.widget{
   transition: all 0.5s ease-in-out;
   &:hover{
      .widget-panel-info{
         // background-color:$secondary-bg;
      }
      border-color:$primary;    
   }
}
.widget{
   .bordered-title-v1 {
      border-left: 3px solid #851A17;
      height: 2rem;
      padding-top: 0;
   }
}

//-----------------|Right Sidebar|--------------//
.widget-panel-info{
   // margin-left: -1.938rem;
   transition: all 0.5s ease-in-out;
   .widget-title{
     text-transform:capitalize;
   }
}
//----------------| Tag Widget |-------------------//

.insta-gallery{
   .row{
      margin-left:-7px;
      margin-right:-7px;
   }
}