<div class="page-main-container">
   <!-- Service grid -->
   <div class="service section-gap">
      <div class="container">
         <div class="section-title-wrapper">
           <div class="row">
               <div class="col-sm-12 col-md-10 mx-auto text-center">
                  <h2>Best Solutions For Your Business Needs!</h2>
                  <p class="mb-0">Best solutions from worlds class professionals developed with latest trends and designs. </p>
               </div>
           </div>
         </div>
         <div class="row" angly-serviceGrid [serviceGridContent]="services"></div>
      </div>
   </div>
   

   <!-- Featured section -->
   <div class="mob-feature">
      <div class="section-gap">
         <div class="container">
            <div class="section-title-wrapper">
              <div class="row">
                  <div class="col-sm-12 col-md-10 mx-auto text-center text-white">
                     <h2 class="text-white"> Best UI Framework for your angular app </h2>
                     <p class="mb-0">Framework developed with angular 4, angular CLI and bootstrap 4 makes it unique in its category and a completed solution for your business.</p>
                  </div>
              </div>
            </div>
            <div class="row" angly-mobileFeatured [mobileFeatured]="mobileFeatured"></div>
         </div>
      </div>
   </div>
   
   <!-- Testimonial -->
   <div class="testimonial-section section-gap">
      <div class="">
         <div class="container">
            <div angly-testimonial [testimonialContent]="testimonial"></div>
         </div>
      </div>
   </div>
   
   
  
</div>
