<!--|rotate item start|-->
<div class="rotate-item rounded-border">
	<!--|overlay sec start|-->
	<div class="overlay-wrap">
		<div class="thumb-wrap" >
		   <!--|overlay front sec start|-->
			<div class="front-wrap">
				<div class="featured-thumb">
					<img [src]="serviceContent.imagePath" alt="rotate-1" height="370" width="370">
				</div>
				<!--|overlay front-info sec start|-->
				<div class="front-wrap-info">
					<div class="title">
						<h4><a href="javascript:void(0);">{{serviceContent.title}}</a></h4>
					</div>
					<!--|sec-title|-->
				</div>
			</div>
			<!--|overlay back sec start|-->
			<div class="back-wrap">
				<!--|overlay back-info sec start|-->
				<div class="back-wrap-info">
					<div class="sec-content">
						<p class="base-color mb-4">{{serviceContent.discription}}</p>
					</div>
					<div class="read-more">
						<a href="javascript:void(0);" class="read-more-link-v2">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>