<div class="call-to-action-wrap" id="contact-us-section">
   <div class="container">
      <div class="sec-heading-wrap">
         <div class="sec-title text-center text-uppercase mb-3">
            <h2>Stay Updated</h2>
         </div>
         <div class="title-star-bg star-liner-r text-center">
         </div>
         <div class="sec-content text-center">
            <p>Sign Up for our NewsLetter and get exciting discounts on tickets and bookings.</p>
         </div>
      </div>
      <div class="form-wrap">
         <app-contact-us-form></app-contact-us-form>
      </div>
   </div>
</div>