<div class="counter-sec-wrap section-gap bg-img-left-style primary-bg">
	<div class="container">
		<div class="row d-xl-flex justify-content-end align-items-end">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 px-xl-0 mx-auto">
				<div class="counter-sec-info text-center text-xl-left pl-0 pl-xl-5">
					<div class="counter-content">
                  <div class="sec-title d-block">
                     <div class="row">
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 text-center counter-info">
                           <div  class="icon-circle mb-4">
                              <i class="fas fa-circle text-white mr-2 font-size-sm"></i>
                              <i class="fas fa-circle text-white mr-2 font-size-sm"></i>
                              <i class="fas fa-circle text-white mr-2 font-size-sm"></i>
                              <i class="fas fa-circle text-white font-size-sm"></i>
                           </div>
                           <div class="number-wrap mb-4">
                              <span class="number-count font-weight-bold text-white large-text">{{days}}</span>
                           </div>
                           <div class="text-wrap">
                              <span class="text-title text-white font-size-md">Days</span>
                           </div> 
                        </div> 
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 text-center counter-info">
                           <div  class="icon-circle mb-4">
                              <i class="fas fa-circle text-white mr-2 font-size-sm"></i>
                              <i class="fas fa-circle text-white mr-2 font-size-sm"></i>
                              <i class="fas fa-circle text-white mr-2 font-size-sm"></i>
                              <i class="fas fa-circle text-white font-size-sm"></i>
                           </div>
                           <div class="number-wrap mb-4">
                              <span class="number-count font-weight-bold text-white large-text">{{hours}}</span>
                           </div>
                           <div class="text-wrap">
                              <span class="text-title text-white font-size-md">Hours</span>
                           </div> 
                        </div>   
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 text-center counter-info">
                           <div  class="icon-circle mb-4">
                              <i class="fas fa-circle text-white mr-2 font-size-sm"></i>
                              <i class="fas fa-circle text-white mr-2 font-size-sm"></i>
                              <i class="fas fa-circle text-white mr-2 font-size-sm"></i>
                              <i class="fas fa-circle text-white font-size-sm"></i>
                           </div>
                           <div class="number-wrap mb-4">
                              <span class="number-count font-weight-bold text-white large-text">{{minutes}}</span>
                           </div>
                           <div class="text-wrap">
                              <span class="text-title text-white font-size-md">Minutes</span>
                           </div> 
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 text-center counter-info">
                           <div  class="icon-circle mb-4">
                              <i class="fas fa-circle text-white mr-2 font-size-sm"></i>
                              <i class="fas fa-circle text-white mr-2 font-size-sm"></i>
                              <i class="fas fa-circle text-white mr-2 font-size-sm"></i>
                              <i class="fas fa-circle text-white font-size-sm"></i>
                           </div>
                           <div class="number-wrap mb-4">
                              <span class="number-count font-weight-bold text-white large-text">{{seconds}}</span>
                           </div>
                           <div class="text-wrap">
                              <span class="text-title text-white font-size-md">Seconds</span>
                           </div> 
                        </div>       
                     </div>     
                  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>