<!--|projects section start|-->
<div id="section-4" class="portfolio-wrap projects-v1 section-gap-port">
	<!--|container start|-->
	<div class="container px-sm-0 wow fadeInLeft" >
		<!--|section title start|-->
		<app-section-title title="Events List" sectionTitleClass="text-center"></app-section-title>
		
		<div class="base-grid">
         <div class="post-grid-wrap">
            <ul class="nav nav-pills mb-5 justify-content-center" id="pills-tab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">All</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-archite-tab" data-toggle="pill" href="#pills-architecture" role="tab" aria-controls="pills-archite" aria-selected="false">Upcoming</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-construction-tab" data-toggle="pill" href="#pills-construction" role="tab" aria-controls="pills-construction" aria-selected="false">Sports</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-electrical-tab" data-toggle="pill" href="#pills-electrical" role="tab" aria-controls="pills-electrical" aria-selected="true">Tech</a>
					</li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
               <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
                  <div class="row">
                     <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5" *ngFor="let content of projectData">
                        <!--|post-item sec start|-->
                        <app-project-grid [projectGrid]="content"></app-project-grid>
							</div>
               	</div>    
            	</div>   
               <div class="tab-pane fade" id="pills-architecture" role="tabpanel" aria-labelledby="pills-architecture-tab">
                 	<div class="row">
                     <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5" *ngFor="let content of getProjectByType('Upcoming')">
                        <!--|post-item sec start|-->
                       <app-project-grid [projectGrid]="content"></app-project-grid>
							</div>
               	</div>  
               </div>
               <div class="tab-pane fade" id="pills-construction" role="tabpanel" aria-labelledby="pills-construction-tab">
                  <div class="row">
                  	<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5" *ngFor="let content of getProjectByType('Sports')">
                     	<!--|post-item sec start|-->
                     	<app-project-grid [projectGrid]="content"></app-project-grid>
							</div>
               	</div>
              	</div>
               <div class="tab-pane fade" id="pills-electrical" role="tabpanel" aria-labelledby="pills-electrical-tab">
                	<div class="row">
                     <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5" *ngFor="let content of getProjectByType('Tech')">
                        <!--|post-item sec start|-->
                        <app-project-grid [projectGrid]="content"></app-project-grid>
							</div>
               	</div>
               </div>
            </div>   
         </div>
      </div>   
	</div>
</div>