<div class="quote-wrapper rounded">
	<a class="quote-fixed">
		<img src="assets/images/quote-img.png" alt="quote-img">
	</a>
	<div class="quote-sidebar p-4">
		<div class="modal-content border-0">
			<div class="modal-header border-0 p-0">
				<h4 class="modal-title">Request quote</h4>
				<button type="button" class="close quote-closed p-2 pr-3" data-dismiss="modal" aria-label="Close">
					<i class="fas fa-times"></i>
				</button>
			</div><!--|modal-header|-->
			<div class="contact-info-des mb-3">
            <span class="d-block">
               <i class="fas fa-mobile"></i>
   				<a class="mb-2" href="tel:011234567892">+(01) 123 456 7892</a>
            </span>
            <span>   
               <i class="fas fa-envelope"></i>
   				<a href="mailto:info@example.com">info@example.com</a>
            </span>   
			</div><!--|contact-info-des|-->
			<div class="modal-body p-0">
				<app-quote-form></app-quote-form>
			</div>
		</div>
	</div>
</div>
<!-- quote-wrapper -->