 <div class="pricing-plan-grid section-gap-lg  bg-img-style">
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="pricing-desc text-center text-xl-left">
					<div class="title-wrap mb-5">
						<h4 class="text-white">We are providing services at affordable pricing plans</h4>
					</div><!--|-title-wrap|-->
					<div class="sec-content mb-5 mb-xl-0">
						<p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.</p>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="row">
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-5 mb-md-0 pricing-plan-content" *ngFor="let value of showplan">
						<app-service-plain-grid [showPlan]="value"></app-service-plain-grid>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>
<!-- pricing-plan-grid -->