<ul class="navbar-nav mr-n3 mx-lg-auto px-0 {{stickyClass}}">
	<li class="nav-item"><a class="menu-1 nav-link" href="javascript:void(0);">Home</a></li>
   <li class="nav-item"><a class="menu-2 nav-link" href="javascript:void(0);">Services</a></li>
   <li class="nav-item"><a class="menu-3 nav-link" href="javascript:void(0);">Portfolio</a></li>
   <li class="nav-item"><a class="menu-4 nav-link" href="javascript:void(0);">Pricing</a></li>
   <li class="nav-item"><a class="menu-5 nav-link" href="javascript:void(0);">Blog</a></li>
   <li class="nav-item"><a class="menu-6 nav-link" href="javascript:void(0);">Contact</a></li>
</ul>
