<ul class="navbar-nav mr-n3 mx-lg-auto px-0 {{stickyClass}}">
	<li class="nav-item"><a class="menu-1 nav-link" href="javascript:void(0);">Home</a></li>
	<li class="nav-item"><a class="menu-2 nav-link" href="javascript:void(0);">Track</a></li>
	<li class="nav-item"><a class="menu-3 nav-link" href="javascript:void(0);">Contact Us</a></li>
	<li class="nav-item"><a class="menu-4 nav-link" href="javascript:void(0);">Tour</a></li>
	<li class="nav-item"><a class="menu-5 nav-link" href="javascript:void(0);">Team</a></li>
	<li class="nav-item"><a class="menu-6 nav-link" href="javascript:void(0);">Gallery</a></li>
	<li class="nav-item"><a class="menu-7 nav-link" href="javascript:void(0);">News</a></li>
</ul>
